<div class="inner-form form-container">
  <div class="row">
    <div class="col-lg-6 col-10 m-auto">
      <h1>What cool things will you see today?</h1>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control" type="text" name="username">
        </div>
      
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password">
        </div>
      
        <button class="btn btn-hushlink btn-block mt-4" type="submit">Log In</button>
      </form>
      <p class="mt-2"><small>Not a member yet? <a class="hushlink-link" href="/signup">Sign up.</a></small></p>
      <% if (typeof message != "undefined") { %>
        <div class="error-message" role="alert">
          <%= message %>
        </div>
      <% } %>
    </div>
  </div>
</div>
