<section id="landing-section">
  <div class="dark-overlay">
    <div class="inner">
      <div class="container">
        <div class="row landing-row d-flex">
          <div class="col-lg-6">
            <h1>Do you hate social media? We do too.</h1>
            <p class="d-none d-md-block">Hushlink is a social media service where personal input is not allowed - the only thing you're allowed to post is links
              to what you're reading, listening to, watching, or playing. Now you can hear about that cool blog post or stay current on music
              without your aunt trying to sell you essential oils or some creep sliding into your DMs. Interested? Sign up today.
            </p>
          </div>
          <div class="col-lg-6 align-self-center">
            <div class="card text-center card-form">
              <div class="card-body">
                <form action="/signup" method="POST">
                  <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username" maxlength="12" required>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password" maxlength="20">
                  </div>
                  <button class="btn btn-hushlink btn-block" type="submit">Sign Up</button>
                </form>
                <p class="card-text pt-3"><small class="text-muted">Already a member? <a class="hushlink-link" href="/login">Log In.</a></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>