html, body {
  height: 100%;
}

.navbar-brand {
  font-family: 'Questrial', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.navbar-pink {
  background-color: #edecec;
}

.link-unstyled {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.link-unstyled:focus {
  outline: none;
}

.inner {
  padding-top: 35vh;
}

.inner-form {
  padding-top: 27.5vh;
}

#landing-section {
  background: url('../images/landing.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  color: white;
}

.dark-overlay {
  background-color: rgba(15,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.card-form {
  opacity: 0.85;
}

.hushlink-link {
  color: #d34747;
}

.btn-hushlink {
  background-color: #d34747;
  color: white;
}