html, body {
  height: 100%;
}

.navbar-brand {
  font-family: 'Questrial', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.navbar-pink {
  background-color: #edecec;
}

.link-unstyled {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.link-unstyled:focus {
  outline: none;
}

.inner {
  padding-top: 35vh;
}

.inner-form {
  padding-top: 27.5vh;
}

.width-100 {
  width: 100vw;
}

.inner-feed {
  padding-top: 15vh;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 7vh;
}

.inner-search {
  padding-top: 5vh;
  font-family: 'Raleway', sans-serif;
}

.inner-profile {
  padding-top: 10vh;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 7vh;
}

#landing-section {
  background: url('../images/landing.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  color: white;
}

.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}

.dark-overlay {
  background-color: rgba(15,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.card-form {
  opacity: 0.85;
}

.hushlink-link {
  color: #d34747;
}

.btn-hushlink {
  background-color: #d34747;
  color: white;
}

.sidebar {
  min-height: 100vh;
  background-color: #d34747
}

.fa-user-circle {
  color: #d34747;
}

.profile-card {
  background-color:  #d34747;
  color: white;
  border: solid 1px white;
}

.profile-card a {
  color: white;
}

.user-card {
  border: solid 1px #d34747;
}

.user-card a {
  color: #d34747;
}

.form-container {
  background: rgba(15,0,0,0.7);
  color: white;
  min-height: 100%;
}

.form-container a {
  color: #ffaaaa;
}

.hush-footer {
  background: rgb(65,50,50);
}

.concat-link {
  display: inline-block;
  width: 35em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.no-wordwrap {
  white-space: nowrap;
}

@media (max-width: 768px) { 
  #hush-link a {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  #hush-link a:before,
  #hush-link a:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }

  .concat-link {
    width: 12em;
  }
  
}